/* GERAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: red
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text {
    width: 30%;
    margin: 0 auto;
    position: relative;
}

.title {
    color: white;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -100px;
    font-size: 1.8em;
    text-shadow: 3px  3px 3px black,
    3px  3px 3px black,
    3px  3px 3px black,
    3px  3px 3px black;
}

.formGroup {
    position: relative;
    width: 100%;
}

.newLabel {
    display: block;
    color: #ffffff;
}

.pokemonInput {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ffffff;
    border-color: #000000;
    height: 40px;
    padding: 10px;
    font-size: 14px;
}

.pokemonButton {
    background-color: #ECDDF3;
    color: #000000;
    border-radius: 50px;
    border: 0;
    padding: 10px 20px;
    width: 130px;
    position: absolute;
    bottom: -50px;
    font-weight: bold;
    left: 50%;
    margin-left: -65px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: black;
    color: #ffffff;
}

button:enabled,
button[enabled] {
    border: 1px solid #999999;
    background-color: #ECDDF3;
    color: #ffffff;
}


.pokemonButton:hover {
    background-color: red;
    color: #ffffff;
    transition: 0.3s;
}

.rodapePrincipal {
    padding-top: 20px;
    font-weight: lighter;
}

.rodapePrincipal-patrocinadores {
    margin-top: 30px;
    background: black;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
